global
    log stdout format raw local0
    maxconn 256

defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    timeout connect 5000ms
    timeout client  50000ms
    timeout server  50000ms

frontend http_front
    bind *:80
    default_backend app_servers

backend app_servers
    balance roundrobin
    option httpchk GET /
    http-check expect status 200
    server app1 172.34.0.11:80 check inter 2s fall 3 rise 2
    server app2 172.34.0.12:80 check inter 2s fall 3 rise 2
    server app3 172.34.0.13:80 check inter 2s fall 3 rise 2
    server app4 172.34.0.14:80 check inter 2s fall 3 rise 2

listen stats
    bind *:8404
    stats enable
    stats uri /stats
    stats refresh 5s
